*.iml
.gradle/
/local.properties
.env
secrets.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
output.json
*.log
*.hprof
app/release/
app/build/
**/build/
keystore.properties
*.jks
*.keystore
.kotlin/
app/libs/*.aar
app/src/main/assets/sherpa/

